#textoSigno {
    display: flex;
    align-items: center; /* Alinea el texto verticalmente */
    justify-content: center; /* Alinea el texto horizontalmente */
    padding: 12px 25px; /* Espaciado interno más amplio */
    background-color: #5f5252; /* Fondo más claro para mejor visibilidad */
    color: white;
    font-size: 1rem;
    font-weight: bold; /* Para darle más énfasis al texto */
    border-radius: 12px; /* Bordes más suaves */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra un poco más pronunciada */
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos de hover */
}

#textoSigno:hover {
    background-color: #7a6e6e; /* Color ligeramente más claro en hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* Sombra más profunda en hover */
}
