/* General Styles */
body {
    background-color: #48a3af; /* Cambia el color de fondo del cuerpo si deseas un tono más suave */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #2cad66;
    border-radius: 20px; /* Borde más redondeado */
    box-shadow: 0 8px 30px rgba(165, 67, 67, 0.15); /* Sombra ligeramente más fuerte */
    padding: 40px;
    width: 350px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición en sombra y escala */
}

form:hover {
    box-shadow: 0 10px 35px rgba(26, 15, 15, 0.2); /* Más sombra en hover */
    transform: scale(1.02); /* Efecto de aumento en hover */
}

h1#txtBienvenida {
    font-size: 28px;
    color: #33231e; /* Color de texto ajustado */
    margin-bottom: 20px;
    animation: bounce 1s ease-in-out 1;
}

h4.txt {
    font-size: 16px;
    color: #746363;
    margin-bottom: 5px;
    text-align: left;
}

input.entry {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #181615; /* Color de borde actualizado */
    border-radius: 10px; /* Borde más redondeado */
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input.entry:focus {
    border-color: #09972c; /* Color de borde en foco */
    box-shadow: 0 0 8px rgba(23, 83, 60, 0.4); /* Sombra de foco */
}

input#btnEnviar {
    width: 100%;
    padding: 12px; /* Un poco más de padding para el botón */
    background-color: #2b70c9; /* Color de fondo actualizado */
    color: rgb(42, 160, 180);
    border: none;
    border-radius: 10px; /* Borde más redondeado para el botón */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input#btnEnviar:hover {
    background-color: #c54848; /* Cambia el color en hover */
    transform: translateY(-3px);
}

input#btnEnviar:active {
    transform: translateY(1px);
}

button#forgotPasswordLink {
    margin-top: 15px;
    background-color: transparent;
    color: #a1b820; /* Color de enlace actualizado */
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.3s ease;
}

button#forgotPasswordLink:hover {
    color: #35504c; /* Cambia el color del enlace en hover */
}

/* Animations */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}